<div *ngIf="gameInit" class="container-fluid" style="padding-top: 15% ;padding-left: 15%">

  <div>
    <div class="row">
      <div class="col-4 player">
        <label>Enter Player 1 Name</label>
        <input type="text" [(ngModel)]="player1.name">
        <em style="color: green ;" *ngIf="player1.name.length > 0" class=""> &#10003;</em>
      </div>

      <div class="col-4 player">
        <label>Enter Player 2 Name</label>
        <input type="text" [(ngModel)]="player2.name">
        <em style="color: green ;" *ngIf="player2.name.length > 0" class=""> &#10003;</em>
      </div>

      <div class="col-4 player">
        <button class="btn btn-primary" [disabled]="(player1.name.length && player2.name.length)==0"
                (click)="startGame()">Start
        </button>
      </div>
      <em *ngIf="(player1.name.length && player2.name.length)==0" class="start-error">*Fill the names to start the
        game</em>
    </div>
  </div>

</div>
<div class="container-fluid" style="padding :5%" *ngIf="!gameInit">
  <div class="row">
    <div class="col-6" *ngIf="!done">
      <h3 *ngIf="player1.turn">Go head {{player1.name}}</h3>
      <h3 *ngIf="player2.turn">Go head {{player2.name}}</h3>
    </div>
    <div class="col-6" style="padding-left: 38%">
      <button class="btn btn-primary pull-right" (click)="reload()">Reload</button>
      <button class="btn btn-warning pull-right" (click)="this.gameInit = true">Exit</button>
    </div>
  </div>

  <div class="game-board">
    <div class="box" [innerHTML]="positionList[0]" (click)="updateCellStatus(0)"></div>
    <div class="box" [innerHTML]="positionList[1]" (click)="updateCellStatus(1)"></div>
    <div class="box" [innerHTML]="positionList[2]" (click)="updateCellStatus(2)"></div>
    <div class="box" [innerHTML]="positionList[3]" (click)="updateCellStatus(3)"></div>
    <div class="box" [innerHTML]="positionList[4]" (click)="updateCellStatus(4)"></div>
    <div class="box" [innerHTML]="positionList[5]" (click)="updateCellStatus(5)"></div>
    <div class="box" [innerHTML]="positionList[6]" (click)="updateCellStatus(6)"></div>
    <div class="box" [innerHTML]="positionList[7]" (click)="updateCellStatus(7)"></div>
    <div class="box" [innerHTML]="positionList[8]" (click)="updateCellStatus(8)"></div>
  </div>
  <h3 *ngIf="invalidMove" style="color: red ; box-shadow: black">Invalid Move</h3>

    <h3 *ngIf="done">{{getWinnerName()}}</h3>
    <h3 *ngIf="tie">{{'Tie! Reload the game'}}</h3>


</div>

